.formato_verde{
    background-color: rgb(60, 231, 60);
}
.formato_amarelo{
    background-color: rgb(223, 205, 44);
}
.formato_azul{
    background-color: rgb(91, 73, 175);
}
.formato_violeta{
    background-color: rgb(196, 134, 238);
}